<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Configuración de conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/library?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=Europe/Madrid
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">secret</property>

        <!-- Pool entorno para pruebas -->
        <property name="connection.pool_size">2</property>

        <!-- Mostrar consultas SQL en consola -->
        <property name="hibernate.show_sql">true</property>

        <!-- Actualizar esquema automáticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Manejo del contexto de la sesión actual -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mapeo de clases -->
        <mapping class="Ejercicio4.entities.Author"/>
        <mapping class="Ejercicio4.entities.Book"/>

    </session-factory>
</hibernate-configuration>









